.page-header {
  position: relative;
  margin-top: 11px;

  &--index {
    padding-bottom: 9px;

    @media (min-width: $tablet-width) {
      padding-bottom: 0;
    }
  }

  &--noindex {
    border-bottom: 1px solid $color_border-link;
    padding-bottom: 11px;

    @media (min-width: $tablet-width) {
      border: none;
      padding-bottom: 0;
    }
  }

  @media (max-width: $mobile-width-only) {
    &--closed,
    &--opened {
      margin-bottom: 3px;
    }

    &--nojs {
      margin-bottom: 207px;
      border-bottom: none;
    }
  }

  @media (min-width: $tablet-width) {
    margin-top: 26px;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-content-width) {
    margin-top: 55px;
    margin-bottom: 29px;
    z-index: 1;
  }
}

.page-header__container {
  min-width: 280px;
  margin: 0 20px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    min-width: 708px;
    margin: 0 30px;
    align-items: center;
  }

  @media (min-width: $desktop-content-width) {
    width: 1220px;
    margin: 0 auto;
  }
}

.page-header__logo {
  display: flex;
  min-width: 191px;
  justify-content: space-between;
  align-items: center;

  &--noindex {
    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  @media (min-width: $tablet-width) {
    min-width: 174px;
    margin-right: 90px;
  }

  @media (min-width: $desktop-content-width) {
    width: 182px;
  }
}

.page-header__icon {
  width: 34px;
  height: 38px;
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    width: 61px;
    height: 50px;
  }

  @media (min-width: $desktop-content-width) {
    width: 70px;
    height: 59px;
    margin-bottom: 0;
  }
}

.page-header__label-icon {
  position: relative;
  top: 1px;

  @media (min-width: $tablet-width) {
    top: 0;
    left: 0;
  }

  @media (min-width: $desktop-content-width) {
    width: 118px;
    height: 21px;
    margin: 10px -19px 0 0;
  }
}
