.page-main__wrapper {
  margin-bottom: 39px;

  &--catalog {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    padding: 0 69px;
    margin-bottom: 65px;

    &--catalog {
      padding: 0;
      margin-top: 40px;
      margin-bottom: 164px;
    }
  }

  @media (min-width: $desktop-content-width) {
    padding: 0 20px;

    &--catalog {
      padding: 0;
      margin-bottom: 165px;
    }
  }
}

.page-main__title {
  font-family: $font, $font_family_reserve;
  font-size: $font_size_title;
  font-weight: 400;
  line-height: $line_height_title;
  color: $color_basic_black;
  text-decoration: none;

  &--catalog {
    padding: 0 20px 40px 20px;

    @media (max-width: $mobile-width-only) {
      border-bottom: 1px solid $color_hover_grey;
      margin-bottom: -8px;
    }

    @media (min-width: $tablet-width) {
      margin: 0 auto;
      padding: 0 30px;
    }

    @media (min-width: $desktop-content-width) {
      width: 1260px;
      padding: 0 20px;
      position: relative;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: $font_size_title_big;
    line-height: $line_height_title_big;
  }
}

.page-main__text {
  font-family: $font, $font_family_reserve;
  font-size: $font_size_base;
  line-height: $line_height_base;
  color: $color_basic_black;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 37px;

  @media (min-width: $tablet-width) {
    font-size: $font_size_middle;
    line-height: $line_height_title_median;
    margin-top: 55px;
    margin-left: 1px;
  }

  @media (min-width: $desktop-content-width) {
    margin-left: 0;
  }
}
