.page,
.page__body {
  box-sizing: border-box;
}

.page {
  height: 100%;
}

.page__body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: $font, $font_family_reserve;
  background-color: $color_basic-white;
  min-height: 100%;
}
