.page,
.page__body {
  box-sizing: border-box;
  min-width: 320px;
}

.page {
  height: 100%;
}

.page__body {
  @include reset_text();
  font-weight: 400;
  font-family: $font, $font_family_reserve;
  font-size: $font_size_base;
  background-color: $color_basic_white;

  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-width: 320px;
  min-height: 100%;
}
