.page-footer {
  padding: 40px 0 32px 0;
  background-color: $color_basic_grey;

  @media (min-width: $tablet-width) {
    padding-top: 46px;
  }

  @media (min-width: $desktop-content-width) {
    padding-top: 49px;
  }
}

.page-footer__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;

    &--form {
      margin-top: 1px;
    }
  }
}
