//Colors

$color_basic_green: #68b738;
$color_basic_grey: #f2f2f2;
$color_background-grey: #e5e5e5;
$color_hover_grey: #ebebeb;
$color_frames-grey: #cdcdcd;
$color_icons-grey: #666666;
$color_text-dark-grey: #444444;
$color_title_dark-grey: #222222;
$color_status_error: #ff8282;
$color_hover_green: #5eaa2f;
$color_basic-white: #ffffff;
$color_basic-black: #000000;
$color_special-black: #111111;

// font
$font: "Oswald";
$font_family: "Oswald", sans-serif;
$font_second: "Arial";
$font_family_second: "Arial", sans-serif;

// font properties - general
$font_weight_base: normal;
$font_style_base: normal;

// font properties - mobile
$font_size_base_mobile: 14px;
$font_size_small_mobile: 12px;
$font_size_medium_mobile: 16px;
$font_size_title_mobile: 36px;
$line_height_base_mobile: 18px;
$line_height_small_mobile: 12px;
$line_height_medium_mobile: 20px;
$line_height_title_mobile: 36px;
