.add-goods {
  margin-top: 25px;

  @media (min-width: $tablet-width) {
    margin-top: 66px;
  }

  @media (min-width: $desktop-content-width) {
    margin-top: 75px;
  }
}

.add-goods__title-wrapper {
  border-bottom: 2px solid $color_basic_green;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    margin-bottom: 92px;
  }

  @media (min-width: $desktop-content-width) {
    margin-bottom: 91px;
  }
}

.add-goods__title {
  font-family: $font, $font_family_reserve;
  font-weight: 400;
  font-size: $font_size_title_small;
  line-height: $line_height_title_small;
  color: $color_basic_black;
  position: relative;
  z-index: 10;
  left: -21px;
  margin: 0;
  margin-bottom: -8px;

  @media (min-width: $tablet-width) {
    font-size: $font_size_title;
    line-height: $line_height_title;
    padding-left: 60px;
    text-align: left;
    left: -60px;
    margin-bottom: -14px;
  }

  @media (min-width: $desktop-content-width) {
    padding: 0 40px 0 80px;
    left: -117px;
    margin-bottom: -13px;
  }
}

.add-goods__title-background {
  background: $color_basic_white;
  display: inline-block;
  max-width: 290px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    max-width: 100%;
    padding: 0 36px 0 37px;
  }

  @media (min-width: $desktop-content-width) {
    max-width: 100%;
    padding: 0 35px 0 37px;
  }
}

.add-goods__wrapper {
  min-width: 280px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    min-width: 708px;
  }

  @media (min-width: $desktop-content-width) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 86px;
  }
}

.add-goods__list {
  @include reset_list();
  display: flex;
  flex-direction: column;
}

.add-goods__item {
  padding-top: 13px;
  padding-bottom: 17px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 98px;
  border-bottom: 1px solid $color_frames_grey;

  &:first-child {
    border-top: 1px solid $color_frames_grey;
  }

  @media (min-width: $tablet-width) {
    min-height: auto;
    border-bottom: 1px solid $color_frames_grey;
    border-left: 1px solid $color_frames_grey;
    border-right: 1px solid $color_frames_grey;

    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 11px 37px 27px 37px;
  }

  @media (min-width: $desktop-content-width) {
    border-left: none;
    border-right: none;
    padding: 15px 0 16px 0;
    align-items: center;
  }
}

.add-goods__button {
  height: auto;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  &--water {
    padding: 9px 40px 8px 40px;
    min-height: 39px;
  }

  @media (min-width: $tablet-width) {
    min-height: 38px;
    width: 100%;
    margin-top: 5px;
    padding: 10px 38px 10px 36px;
  }

  @media (min-width: $desktop-content-width) {
    align-items: center;
    width: 244px;
    min-height: 40px;
    margin: 0 0 0 38px;
  }
}

.add-goods__caption {
  font-family: $font, $font_family_reserve;
  font-weight: 400;
  font-size: $font_size_medium;
  line-height: $line_height_middle;
  color: $color_title_dark-grey;
  text-transform: uppercase;
  margin: 0;
  padding-left: 1px;

  @media (min-width: $tablet-width) {
    font-size: $font_size_middle;
    line-height: $line_height_medium;
    width: 315px;
    display: flex;
    align-items: center;
  }

  @media (min-width: $desktop-content-width) {
    height: 20px;
    width: 325px;
  }
}

.add-goods__params {
  display: flex;
  justify-content: space-between;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 315px;
    justify-content: flex-end;
    margin-top: 3px;
  }

  @media (min-width: $desktop-content-width) {
    height: 20px;
    width: 288px;
    justify-content: space-between;
    align-items: center;
    margin-top: 7px;
  }
}

.add-goods__quantity,
.add-goods__value {
  font-family: $font_second, $font_family_reserve;
  font-size: $font_size_base;
  line-height: 14px;
  color: $color_text-dark-grey;

  @media (min-width: $tablet-width) {
    font-size: $font_size_medium;
    line-height: $line_height_medium;
  }
}

.add-goods__value {
  @media (min-width: $tablet-width) {
    margin-left: 49px;
    margin-right: 3px;

    &--water {
      margin-left: 58px;
    }
  }

  @media (min-width: $desktop-content-width) {
    margin-right: 1px;

    &--water {
      margin-right: 10px;
    }
  }
}
