.benefits {
  margin-bottom: 46px;

  @media (min-width: $tablet-width) {
    margin-bottom: -14px;
  }

  @media (min-width: $desktop-content-width) {
    margin-bottom: -6px;
  }
}

.benefits__title {
  font-family: $font, $font_family_reserve;
  font-style: $font_style_base;
  font-weight: $font_weight_base;
  font-size: $font_size_title;
  line-height: $line_height_title_middle;
  color: $color_basic_black;
  margin-top: 0;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    font-size: $font_size_title_big;
    line-height: $line_height_title_big;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-content-width) {
    margin-bottom: 70px;
  }
}

.benefits__list {
  @include reset_list;
  counter-set: benefits-list 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 60px;
  }

  @media (min-width: $desktop-content-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 78px;
  }
}

.benefits__item {
  font-family: $font_second, $font_family_reserve;
  font-size: $font_size_base;
  line-height: $line_height_base;
  color: $color_text-dark-grey;

  position: relative;
  padding-left: 70px;
  margin-bottom: 26px;

  @media (max-width: $mobile-width-only) {
    min-height: 52px;
  }

  &::before {
    @include reset_pseudo-element-style;
    width: 60px;
    height: 60px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $color_basic_green;
    left: 0;
    top: -2px;
  }

  &--leaf::before {
    background-image: url("../img/icon_leaf.svg");
  }

  &--tub::before {
    background-image: url("../img/icon_tub.svg");
  }

  &--eat::before {
    background-image: url("../img/icon_eat.svg");
  }

  &--time::before {
    background-image: url("../img/icon_alarm.svg");
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    font-size: $font_size_medium;
    line-height: $line_height_title_small;

    min-height: 280px;
    margin-bottom: 37px;
    padding-top: 130px;
    padding-left: 0;
    padding-right: 65px;

    &::before {
      width: 80px;
      height: 80px;
      top: 17px;
    }

    &::after {
      width: 200px;
      height: 280px;
      color: $color_basic_grey;
      font-family: $font, $font-reserve;
      font-weight: 400;
      font-size: 280px;
      line-height: 280px;
      text-align: center;
      position: absolute;
      top: -21px;
      right: 15%;
      z-index: -1;
      counter-increment: benefits-list;
      content: counter(benefits-list);
    }
  }

  @media (min-width: $desktop-content-width) {
    min-height: 280px;
    width: 247px;
    padding-top: 114px;
    padding-left: 0;
    padding-right: 0;

    &::before {
      top: 2px;
    }

    &::after {
      top: -37px;
      left: 32%;
    }
  }
}

.benefits__text {
  margin-top: 0;
  margin-left: 10px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }
}

.benefits__hidden {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
