.button {
  @include reset_button-style();
  display: block;
  padding: 14px 40px;

  font-family: $font, $font_family_reserve;
  font-size: $font_size_medium;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  line-height: $line_height_medium;

  color: $color_basic_white;
  background-color: $color_basic_green;

  &:hover,
  &:focus {
    background-color: $color_hover_green;
  }

  &:active {
    background-color: $color_hover_green;
    color: rgba(255, 255, 255, 0.3);
  }
}
