.button {
  display: inline-block;
  padding: 0 50px;

  font-family: $font, $font_family_second;
  font-size: $font_size_medium_mobile;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  line-height: $line_height_medium_mobile;

  border: none;
  color: $color_basic-white;
  background-color: $color_basic_green;

  &:hover,
  &:focus {
    background-color: $color_hover_green;
  }
}
