.case {
  //position: relative;
  padding-top: 27px;
  padding-bottom: 25px;

  //todo вопрос: посмотри пожалуйста этот блок. Не разобрался, как сделать, чтоб смотрелось нормально. Сейчас заливает полностью экран вместо подложки
  //&::before {
  //  position: absolute;
  //  content: "";
  //  background: $color_basic_grey;
  //  width: 100%;
  //  left: 0;
  //  right: 0;
  //  height: 100%;
  //}

  @media (min-width: $tablet-width) {
    background: $color_basic-white;
    padding-bottom: 0;

    &::before {
      height: 462px;
      bottom: 0;
    }
  }
}

.case__details {
  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
