.catalog {
  @media (min-width: $tablet-width) {
    margin: 0 auto;
    padding: 0 30px;
  }

  @media (min-width: $desktop-content-width) {
    width: 1260px;
    padding: 0 20px;
    position: relative;
  }
}

.catalog__list {
  @include reset_list();

  @media (max-width: $mobile-width-only) {
    margin-top: 12px;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: 140px;
  }

  @media (min-width: $desktop-content-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 80px;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 143px;
  }
}

.catalog__item {
  @media (max-width: $mobile-width-only) {
    padding-bottom: 24px;
    border-bottom: 1px solid $color_hover_grey;

    &:last-child {
      padding-bottom: 0;
    }
  }
}
