.contacts {
  padding: 28px 0;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.contacts__wrapper {
  &--noindex {
    background: $color_basic_grey;

    @media (min-width: $desktop-width) {
      background: $color_basic-white;
    }
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 60px;
    padding-top: 60px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.contacts__title {
  font-size: $font_size_medium_mobile;
  line-height: $line_height_base_mobile;
  text-transform: uppercase;
  color: $color_special-black;
}

.contacts__address {
  font-family: $font_family_second;
  font-size: $font_size_base_mobile;
  line-height: $line_height_medium_mobile;
  color: $color_text-dark-grey;
}
