.copyright {
  @media (max-width: $mobile-width-only) {
    text-align: center;
    border-bottom: 1px solid $color_border-link;
    padding-bottom: 27px;
  }
}

.copyright__logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
