.details {
  //@media (min-width: $desktop-content-width) {
  //  width: 440px;
  //}
}

.details__result {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-content-width) {
    flex-direction: column;
    align-items: flex-start;
    width: 440px;
  }
}

.details__list {
  @include reset_list();
  display: flex;
}

.details__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  :first-child {
    margin-outside: 95px;
  }
}

.details__text {
  font-family: $font_family_second;
  font-size: $font_size_base;
  line-height: $line_height_base;
  color: $color_text-dark-grey;
  margin-bottom: 25px;

  @media (min-width: $desktop-content-width) {
    width: 440px;
  }
}

.details__title {
  font-family: $font, $font_family_reserve;
  font-size: $font_size_title_small;
  line-height: $line_height_title_small;
  text-transform: uppercase;
  color: $color_basic_black;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.details__desc {
  font-family: $font_second, $font_family_reserve;
  font-size: $font_size_small;
  line-height: $line_height_small;
  color: $color_text-dark-grey;
  text-transform: lowercase;
  text-align: center;
  display: inline-block;
  max-width: 85px;
}

.details__expenses {
  font-family: $font, $font_family_reserve;
  font-size: $font_size_base;
  line-height: $line_height_medium;
  text-transform: uppercase;
  color: $color_basic_black;
  margin-top: 11px;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    margin-bottom: 15px;
  }
}
