.developer__link {
  font-family: $font_family_second;
  font-size: $font_size_medium;
  line-height: $line_height_base;
  color: $color_text-dark-grey;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
  }

  &:active {
    opacity: 0.3;

    & + .developer__logo {
      fill: $color_basic_green;
    }
  }
}

.developer__text {
  font-family: $font_second;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  font-size: $font_size_medium;
  line-height: $line_height_base;

  @media (min-width: $tablet-width) {
    margin-right: 22px;
    margin-bottom: 0;
  }

  &:hover + .developer__logo {
    fill: $color_basic_green;
  }
}

.developer__logo {
  fill: $color_icons-grey;

  &:hover {
    fill: $color_basic_green;
  }
}
