.developer__link {
  font-family: $font_family_second;
  font-size: $font_size_medium;
  line-height: $line_height_base;
  color: $color_text-dark-grey;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;
  height: 42px;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    margin: 0;
  }

  &:active {
    opacity: 0.3;

    & + .developer__logo {
      fill: $color_basic_green;
    }
  }
}

.developer__text {
  font-family: $font_second;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  font-size: $font_size_medium;
  line-height: $line_height_base;

  @media (min-width: $tablet-width) {
    margin-right: 15px;
    margin-bottom: 8px;

    &--form {
      margin-bottom: 7px;
    }
  }

  @media (min-width: $desktop-content-width) {
    margin-bottom: 4px;
  }

  &:hover + .developer__logo {
    fill: $color_basic_green;
  }
}

.developer__logo {
  fill: $color_icons-grey;
  width: 42px;
  margin-right: -6px;

  &:hover {
    fill: $color_basic_green;
  }

  @media (min-width: $tablet-width) {
    margin-right: -4px;
    margin-bottom: 7px;

    &--form {
      margin-right: -6px;
      margin-bottom: 6px;
    }
  }

  @media (min-width: $desktop-content-width) {
    margin-right: -7px;
    margin-bottom: 2px;
  }
}
