.form__input {
  font-size: $font_size_medium_mobile;
  line-height: $line_height_base_mobile;
  text-transform: uppercase;
  color: $color_text-dark-grey;
  font-family: $font, $font_family_second;
  font-weight: 400;
}

.form__button-description {
  font-size: $font_size_base_mobile;
  line-height: 16px;
  font-family: $font_family_second;
}

.form__label {
  font-size: $font_size_medium_mobile;
  line-height: $line_height_base_mobile;
  text-transform: uppercase;
  color: $color_text-dark-grey;
}
