.form {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-content-width) {
    margin-bottom: 42px;
  }
}

.form__section,
.form__send {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}

.form__section {
  position: relative;

  &--cat-data {
    @media (min-width: $tablet-width) {
      margin-bottom: 65px;
    }

    @media (min-width: $desktop-content-width) {
      width: 1260px;
      padding: 0 21px;
      margin: 0 auto 21px auto;
      position: relative;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: start;
      grid-column-gap: 80px;
    }
  }

  &--owner {
    @media (min-width: $tablet-width) {
      margin-bottom: 41px;
    }

    @media (min-width: $desktop-content-width) {
      margin-bottom: 27px;
    }
  }

  &--textarea {
    @media (min-width: $tablet-width) {
      margin-bottom: 51px;
    }

    @media (min-width: $desktop-content-width) {
      margin-bottom: 43px;
    }
  }

  &--additionally {
    margin-bottom: 35px;

    @media (min-width: $tablet-width) {
      margin-bottom: 16px;
    }

    @media (min-width: $desktop-content-width) {
      margin-bottom: 24px;
    }
  }
}

.form__container {
  padding: 0 20px;

  @media (max-width: $mobile-width-only) {
    &--radio {
      padding-bottom: 18px;
      border-top: 1px solid $color_border_grey;
      border-bottom: 1px solid $color_border_grey;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    padding: 0 67px 0 71px;
  }

  @media (min-width: $desktop-content-width) {
    margin: 0;
    padding: 0;
  }
}

.form__list {
  @include reset_list();

  &--cat-data {
    position: relative;
    padding-bottom: 9px;

    @media (min-width: $tablet-width) {
      margin-bottom: 43px;
    }

    @media (min-width: $desktop-content-width) {
      margin-bottom: 0;
    }
  }

  &--radio {
    position: relative;

    @media (min-width: $tablet-width) {
      border: 1px solid $color_border_grey;
      padding: 30px 30px 5px 27px;
    }
  }

  &--checkbox,
  &--additionally {
    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      padding: 0 40px;
    }

    @media (min-width: $desktop-content-width) {
      flex: 1 1 25%;
      padding: 0;
    }
  }

  &--owner {
    @media (min-width: $tablet-width) {
      padding: 0 36px 0 38px;
    }

    @media (min-width: $desktop-content-width) {
      padding: 0;
      display: grid;
      grid-template-columns: 569px 572px;
      align-items: center;
      grid-column-gap: 78px;
    }
  }
}

.form__item {
  margin-bottom: 14px;
  display: flex;
  align-items: center;

  &--cat-data {
    @media (min-width: $tablet-width) {
      margin-bottom: 20px;
    }
  }

  &--phone {
    position: relative;

    @media (min-width: $desktop-content-width) {
      top: -3px;
    }
  }

  &--email {
    position: relative;

    @media (min-width: $tablet-width) {
      margin-bottom: 20px;
    }
  }


  &--radio {
    @media (max-width: $mobile-width-only) {
      &:first-child {
        margin-top: 29px;
      }
      margin-bottom: 25px;
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 23px;
    }
  }

  &--checkbox {
    @media (max-width: $mobile-width-only) {
      margin-bottom: 24px;
    }

    @media (min-width: $tablet-width) {
      flex-wrap: wrap;
      width: calc(50% - 30px);
      margin-bottom: 42px;

      &:nth-child(2n) {
        margin-left: 60px;
      }
    }

    @media (min-width: $desktop-content-width) {
      &:nth-child(2n) {
        margin-left: 0;
      }

      width: 25%;
      margin-left: 20px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.form__title-wrapper {
  margin-bottom: 45px;

  &::before {
    @include reset_pseudo-element-style;
    width: 100%;
    height: 2px;
    display: inline-block;
    background: $color_basic_green;
    top: 25px;
    z-index: -1;
  }

  &--owner {
    margin-top: 16px;

    &::before {
      top: 42px;
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 86px;
    }

    @media (min-width: $desktop-content-width) {
      margin-bottom: 96px;
    }
  }

  &--textarea {
    margin-bottom: 48px;

    @media (min-width: $tablet-width) {
      margin-bottom: 86px;
    }

    @media (min-width: $desktop-content-width) {
      margin-bottom: 96px;
    }
  }

  &--additionally {
    margin-top: 9px;
    margin-bottom: 51px;

    &::before {
      top: 34px;
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 73px;
    }

    @media (min-width: $desktop-content-width) {
      margin-bottom: 82px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-top: 0;

    &::before {
      top: 32px;
    }
  }

  @media (min-width: $desktop-content-width) {
    &::before {
      top: 42px;
    }
  }
}

.form__title {
  font-family: $font, $font_family_reserve;
  font-size: $font_size_title_small;
  font-weight: 400;
  line-height: $line_height_title_intermediate;
  color: $color_basic_black;
  position: relative;
  z-index: 10;
  left: -20px;
  top: 10px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: $font_size_title;
    line-height: $line_height_title;
    text-align: left;
    left: 0;
  }
}

.form__title-background {
  background: $color_basic_white;
  display: inline-block;
  max-width: 221px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    max-width: 100%;
    padding: 0 42px 0 39px;

    &--additionally {
      padding: 0 41px 0 40px;
    }
  }

  @media (min-width: $desktop-content-width) {
    max-width: 100%;
    padding: 0 40px;
    position: relative;
    top: 10px;
    left: -40px;
  }
}

.form__label {
  font-size: $font_size_medium;
  line-height: $line_height_base;
  text-transform: uppercase;
  color: $color_text-dark-grey;
  margin-right: 14px;

  &--cat-data {
    margin-right: 15px;

    @media (min-width: $tablet-width) {
      margin-right: 17px;
    }

    @media (min-width: $desktop-content-width) {
      margin-right: 18px;
    }
  }

  &--owner {
    margin-right: 10px;

    @media (min-width: $tablet-width) {
      margin-right: 16px;
    }
  }

  &--email {
    @media (min-width: $tablet-width) {
      margin-left: 3px;
      margin-right: 20px;
    }

    @media (min-width: $desktop-content-width) {
      margin-left: 0;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: $font_size_middle;
    line-height: $line_height_title_median;
  }

  @media (min-width: $desktop-content-width) {
    margin-right: 20px;
  }
}

.form__input,
.form__textarea {
  font-family: $font, $font_family_reserve;
  font-weight: 400;
  font-size: $font_size_medium;
  line-height: $line_height_base;
  text-transform: uppercase;
  color: $color_text-dark-grey;

  height: 45px;
  padding: 13px 15px;
  border: 1px solid $color_border_grey;

  flex-grow: 1;

  @media (min-width: $tablet-width) {
    font-size: $font_size_middle;
    line-height: $line_height_title_median;
    padding: 25px 19px;
  }

  &:focus-visible {
    border: none;
    outline: none;
  }

  & + .form__icon--phone {
    fill: $color_basic_black;
  }

  & + .form__icon--email {
    fill: $color-basic_white;
    stroke: $color_title_dark-grey;
    stroke-width: 1.3px;
  }

  &:focus {
    border: 1px solid $color_text-dark-grey;

    & + .form__icon--phone {
      fill: $color_basic_green;
    }

    & + .form__icon--email {
      stroke: $color_basic_green;
    }
  }

  &--invalid {
    border: 1px solid $color_status_error;

    & + .form__icon--phone {
      fill: $color_status_error;
    }

    & + .form__icon--email {
      stroke: $color_status_error;
    }
  }
}

.form__input {
  &--email {
    @media (min-width: $desktop-content-width) {
      padding: 25px 19px;
    }
  }

  &--phone {
    @media (min-width: $desktop-content-width) {
      padding: 25px 15px;
    }
  }
}

.form__icon {
  position: absolute;
  right: 14px;

  @media (min-width: $tablet-width) {
    right: 17px;
  }
}

.form__text {
  @media (min-width: $tablet-width) {
    padding: 0 37px 0 40px;
  }

  @media (min-width: $desktop-content-width) {
    padding: 0;
  }
}

.form__textarea {
  width: 100%;
  min-height: 150px;
  padding: 9px 13px 9px 14px;
  border: 1px solid $color_border_grey;
  resize: none;

  @media (min-width: $tablet-width) {
    padding: 9px 13px 9px 18px;
    min-height: 174px;
  }
}

.form__send {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    padding: 0 41px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-content-width) {
    padding: 0 1px;
  }
}

.form__button {
  width: 100%;
  margin: auto;
  margin-bottom: 21px;
  font-size: $font_size_medium;

  @media (min-width: $tablet-width) {
    width: 282px;
    margin-left: 0;
    margin-right: 61px;
    margin-bottom: 0;
    font-size: $font_size_middle;
    padding: 16px 40px;
  }

  @media (min-width: $desktop-content-width) {
    width: 568px;
    margin-right: 81px;
  }
}

.form__button-description {
  font-family: $font_second, $font_family_reserve;
  font-size: $font_size_base;
  line-height: $line_height_middle;
  color: $color_basic_black;
  min-width: 157px;
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: $font_size_medium;
    min-width: 182px;
    text-align: left;
    position: relative;
    top: -2px;
    left: 0;
  }

  @media (min-width: $desktop-content-width) {
    top: 0;
  }
}
