.gift {
  background-image: url("../img/icon_gift.svg"), url("../img/mobile/gift-photo-mobile.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 79px 80px, cover;
  background-position: center 58px, center;
  width: 100%;
  height: 289px;
  text-align: center;
  margin: 37px 0 34px 0;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/icon_gift.svg"), url("../img/tablet/gift-photo-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/icon_gift.svg"), url("../img/tablet/gift-photo-tablet.png");
    background-size: 80px 83px, cover;
    background-position: 78px center, center;
    height: 200px;
    margin: 67px 0 75px 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/icon_gift.svg"), url("../img/tablet/gift-photo-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-content-width) {
    width: 245px;
    height: 289px;
    margin: 0;
    background-image: url("../img/icon_gift.svg"), url("../img/desktop/gift-photo-desktop.png");
    background-size: 80px 83px, cover;
    background-position: center 56px, center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/icon_gift.svg"), url("../img/desktop/gift-photo-desktop@2x.png");
    }
  }
}

.gift__text {
  font-family: $font_second, $font_family_reserve;
  font-size: $font_size_medium;
  line-height: $line_height_medium;
  color: $color_basic_white;
  margin: 187px auto 0 auto;
  width: 60%;

  @media (min-width: $tablet-width) {
    width: 161px;
    text-align: start;
    margin: 70px 124px 70px auto;
  }

  @media (min-width: $desktop-content-width) {
    text-align: center;
    margin: 186px auto 0 auto;
  }
}
