.map__image {
  display: none;

  &--nojs {
    display: block;
    background-color: $color_basic_grey;
    max-height: 362px;
  }

  @media (min-width: $tablet-width) {
    &--nojs {
      max-height: 401px;
    }
  }
}


.map__iframe {
  display: block;
  position: relative;
  width: 100%;
  height: 362px;
  border: none;
  outline: none;

  &--nojs {
    display: none;
  }

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  @media (min-width: $desktop-content-width) {
    &::before {
      left: 62%;
      top: 170px;
    }
  }
}
