.product {
  position: relative;
  padding: 0 20px;

  &--big,
  &--small {
    @media (max-width: $mobile-width-only) {
      padding-top: 4px;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: $color_basic_grey;
    padding: 0 38px 40px 39px;
  }
}

.product__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    margin-bottom: 32px;
  }
}

.product__title-link {
  text-decoration: none;
  margin-bottom: -2px;

  @media (min-width: $tablet-width) {
    margin-bottom: 14px;
  }

  @media (min-width: $desktop-content-width) {
    margin-bottom: 18px;
  }
}

.product__title {
  font-size: $font_size_medium;
  line-height: $line_height_medium;
  color: $color_title_dark-grey;
  font-weight: 400;
  text-transform: uppercase;
  max-width: 100px;

  @media (min-width: $tablet-width) {
    font-size: $font_size_middle;
    line-height: $line_height_title_small;
    text-align: center;
    margin: 0;
    max-width: 130px;
  }

  @media (min-width: $desktop-content-width) {
    line-height: 21px;
  }
}

.product__image-wrapper {
  @media (max-width: $mobile-width-only) {
    margin-left: 34px;
    margin-right: 25px;
    position: relative;
    top: 15px;
    left: 3px;
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    margin-bottom: 15px;
    margin-top: -45px;
  }

  @media (min-width: $desktop-content-width) {
    margin-top: -53px;
  }

  &--big {
    @media (max-width: $mobile-width-only) {
      margin-left: 25px;
      margin-right: 18px;
      position: relative;
      top: 20px;
    }

    @media (min-width: $tablet-width) {
      position: absolute;
      margin-bottom: 12px;
      margin-top: -73px;
    }

    @media (min-width: $desktop-content-width) {
      margin-top: -80px;
    }
  }

  &--small {
    @media (max-width: $mobile-width-only) {
      position: relative;
      top: 24px;
      left: 2px;
    }
  }
}

.product__description {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  @media (max-width: $mobile-width-only) {
    position: relative;
    left: 13px;
    top: 1px;

    &--rice {
      left: 9px;
      top: 0;
    }
  }

  @media (min-width: $tablet-width) {
    align-items: center;
    margin: 161px auto 0 auto;
  }

  @media (min-width: $desktop-content-width) {
    margin-top: 163px;
    position: relative;
    left: 2px;
  }
}

.product__params {
  @include reset_list();

  @media (min-width: $tablet-width) {
    width: 248px;
  }

  @media (min-width: $desktop-content-width) {
    width: 168px;
  }
}

.product__item {
  width: 100%;
  min-width: 150px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;


  @media (max-width: $mobile-width-only) {
    width: calc(100% - 70px);
  }

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $color_frames_grey;
    margin-top: -1px;
  }
}

.product__item-title,
.product__item-value {
  font-family: $font_family_second;
  font-size: $font_size_small;
  line-height: $line_height_middle;
  color: $color_text-dark-grey;

  @media (min-width: $tablet-width) {
    font-size: $font_size_medium;
    padding: 8px 0;
  }
}

.product__item-title {
  text-align: left;
}

.product__item-value {
  text-align: right;
  position: relative;

  @media (max-width: $mobile-width-only) {
    left: -9px;

    &--weight {
      left: -12px;
    }
  }

  @media (min-width: $tablet-width) {
    &--weight {
      left: -3px;
    }
  }
}

.product__button {
  @media (min-width: $tablet-width) {
    width: 248px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-content-width) {
    width: 168px;
  }
}
