.product__title {
  font-size: $font_size_medium_mobile;
  line-height: $line_height_medium_mobile;
  color: $color_title_dark-grey;
  font-weight: 400;
  text-transform: uppercase;
}

.product__item-title,
.product__item-value {
  font-family: $font_family_second;
  font-size: $font_size_small_mobile;
  line-height: 16px;
  color: $color_text-dark-grey;
}
