.range {
  @media (min-width: $tablet-width) {
    min-height: 462px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    margin-top: -196px;
  }
}

//todo вопрос: тут тоже что-то перемудрил, съехал текст "было стало". Хз, как пофиксить

.range__text {
  font-size: $font_size_medium;
  line-height: $line_height_medium;
  text-transform: uppercase;
  color: $color_basic_black;

  width: 230px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-self: center;
    grid-column: span 2;
    width: auto;
  }

  @media (min-width: $desktop-content-width) {
    width: 460px;
    z-index: 1;
  }
}

.range__slider {
  width: 230px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-self: center;
    grid-column: span 2;
    width: auto;
    position: absolute;
    bottom: 50px;
  }

  @media (min-width: $desktop-content-width) {
    width: 460px;
    z-index: 1;
    position: absolute;
    bottom: 72px;
  }
}

.range__input {
  background: $color_basic_white;
  padding: 3px 6px 4px 6px;
  width: 84px;
  height: 14px;
  border: 1px solid $color_frames_grey;
  border-radius: 6px;

  @media (min-width: $tablet-width) {
    width: 428px;
  }
}

.range__toggle {
  width: 50%;
  height: 6px;
  background: $color_basic_green;
  border-radius: 6px;
}
