.show-more__link {
  background-color: $color_basic_grey;
  color: $color_text-dark-grey;

  &:hover {
    background: $color_hover_grey;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}

.show-more__title {
  font-size: $font_size_medium_mobile;
  line-height: $line_height_medium_mobile;
  font-weight: 400;
  color: $color_special-black;
  text-transform: uppercase;
}

.show-more__desc {
  font-size: $font_size_medium_mobile;
  line-height: $line_height_medium_mobile;
  font-family: $font_family_second;
  color: $color_text-dark-grey;
}
