.show-more {
  position: relative;
  padding-bottom: 30px;
  height: 100%;

  @media (min-width: $tablet-width) {
    border: 2px solid $color_basic_grey;
  }

  @media (min-width: $desktop-content-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 2px solid $color_basic_grey;
  }
}

.show-more__link {
  background-color: $color_basic_grey;
  color: $color_text-dark-grey;
  text-decoration: none;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    width: 249px;
  }

  @media (min-width: $desktop-content-width) {
    width: 171px;
  }

  &:hover {
    background-color: $color_hover_grey;
  }

  &:active {
    background-color: $color_hover_grey;
    color: rgba($color_text-dark-grey, 0.3);
  }
}

.show-more__title {
  font-family: $font, $font_family_reserve;
  font-size: $font_size_medium;
  line-height: $line_height_medium;
  font-weight: 400;
  color: $color_special_black;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  padding-top: 78px;
  margin-bottom: 8px;

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    border-bottom: 2px solid $color_plus_grey;
    left: 50%;
    top: 40px;
    margin-left: -15px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 30px;
    border-left: 2px solid $color_plus_grey;
    left: 50%;
    top: 25px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 140px;
    max-width: 140px;
    margin: 0 auto 23px auto;

    &::before {
      width: 60px;
      height: 2px;
      border-bottom: 2px solid $color_plus_grey;
      left: 38px;
      top: 80px;
      margin-left: 0;
    }

    &::after {
      content: "";
      position: absolute;
      width: 2px;
      height: 60px;
      border-left: 2px solid $color_plus_grey;
      left: 66px;
      top: 50px;
    }
  }
}


.show-more__desc {
  font-family: $font_second, $font_family_reserve;
  font-size: $font_size_medium;
  line-height: $line_height_medium;
  color: $color_text-dark-grey;
  display: block;
  text-align: center;
  margin: 0 0 21px 0;
  align-self: center;

  @media (min-width: $tablet-width) {
    font-size: $font_size_medium;
    line-height: $line_height_base;
    width: 167px;
    margin: 0 auto 134px auto;
  }
}
