.site-list {
  @media (min-width: $tablet-width) {
    display: block;
    position: relative;
    text-align: right;
    left: -1px;

    &--index {
      left: -4px;
    }
  }

  @media (min-width: $desktop-content-width) {
    max-width: 610px;
    left: 2px;
  }
}

.site-list__link {
  font-weight: 500;
  font-size: $font_size_middle;
  line-height: $line_height_medium;
  text-transform: uppercase;
  text-decoration: none;
  color: $color_basic_black;

  &--nocurrent {
    &:hover {
      color: rgba($color_basic_black, 0.6);
    }

    &:active {
      color: rgba($color_basic_black, 0.3);
    }
  }

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: $font_size_menu;
    line-height: $line_height_title_small;
    border-bottom: 2px solid transparent;
    padding-bottom: 5px;
  }

  @media (min-width: $desktop-content-width) {
    font-size: $font_size_middle;
    line-height: $line_height_title_median;
    color: $color_special_black;
    z-index: 5;
    padding-bottom: 6px;
  }
}

.site-list__item {
  position: relative;
  left: 0;
  border-top: 1px solid $color_menu-border_grey;
  border-bottom: 1px solid $color_menu-border_grey;
  padding: 22px 0 18px 0;

  @media (min-width: $tablet-width) {
    display: inline-block;
    position: static;
    text-align: right;
    border-top: none;
    border-bottom: none;
    padding: 0;
    margin: 10px 36px 10px 0;

    &:last-child {
      margin-right: 0;
    }

    &--form {
      &:first-child {
        margin-right: 34px;
      }
    }
  }

  @media (min-width: $desktop-content-width) {
    &:first-child {
      min-width: 70px;
    }

    &--form {
      &:first-child {
        margin-right: 36px;
      }
    }
  }
}

.site-list__link--current {
  cursor: default;

  @media (min-width: $tablet-width) {
    border-bottom: 2px solid $color_basic_green;
    padding-bottom: 5px;
  }

  @media (min-width: $desktop-content-width) {
    padding-bottom: 6px;
  }
}

.site-list__link--current-index {
  cursor: default;

  @media (min-width: $tablet-width) {
    padding-bottom: 7px;
  }

  @media (min-width: $desktop-content-width) {
    border-bottom: 2px solid $color_basic_white;
    padding-bottom: 5px;
  }
}

.site-list__link--index {
  @media (min-width: $desktop-content-width) {
    color: $color_basic_white;
  }
}
