.social__list {
  @include reset_list;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 53px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.social__item {
  margin-right: 37px;

  &:last-child {
    margin-right: 0;
  }
}
