.social__list {
  @include reset_list;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 53px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.social__item {
  margin-right: 37px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: $color_icons-grey;

  &--vkontakte,
  &--instagram {
    fill: $color_icons-grey;

    &:hover {
      fill: $color_basic_green;
    }

    &:active {
      fill: $color_basic_green;
      opacity: 0.3;
    }
  }

  &--facebook {
    fill: transparent;
    stroke: $color_icons-grey;
    stroke-width: 1.1px;
    stroke-linecap: round;
    stroke-linejoin: round;

    &:hover {
      stroke: $color_basic_green;
    }

    &:active {
      stroke: $color_basic_green;
      stroke-opacity: 0.3;
    }
  }
}
